body {
  margin: 0;
  font-family: 'proxima-nova';
    background-image: url('./assets/fondo.jpg');
    background-attachment: fixed;
    background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif,
    monospace;
}
